<ol class="publication-list">
{% for publication in site.data.publications %}
  <li>
    <p>
      <strong>{{ publication.title | escape }}</strong><br>
      {% for author_name in publication.authors %}{% if author_name == site.author.name %}<strong>{{ author_name | escape }}</strong>{% else %}{{ author_name | escape }}{% endif %}{% unless forloop.last %}, {% endunless %}{% endfor %}<br>
      <em>{{ publication.venue | escape }} {{ publication.year }}</em>. {{ publication.role | escape }}.
      {% if publication.code_available %}<br>Code available on GitHub{% if publication.code_repository %}: <code>{{ publication.code_repository | escape }}</code>{% endif %}.{% endif %}
    </p>
  </li>
{% endfor %}
</ol>
